:root {
  --bg-color: #000;
  --main-text-color: #fff;
  --text-color: #7a7a7a;
  --second-text-color: #EBEBEB;
  --gray-color-01: #C2C2C2;
  --gray-color-02:#D9D9D9;
  --gray-color-03:#999;
  --black-color-01: #141415;
  --black-color-02: #101012;
  --black-color-03: #19191A;
  --cards: 4;
  --cardHeight: 100vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
  --card-color-01: #131F2B;
  --card-color-02: rgb(30, 50, 50);
  --card-color-03: rgb(60, 70, 90);
  --card-color-04: rgb(30, 30, 30);
  --blue-color: rgb(4, 4, 186);
}

@media (max-width: 768px) {
  :root {
    --cardHeight: 60vh;
  }
}
@media (max-width: 480px) {
  :root {
    --cardHeight: auto;
  }
}