:root {
  --bg-color: #000;
  --main-text-color: #fff;
  --text-color: #7a7a7a;
  --second-text-color: #EBEBEB;
  --cards: 4;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
  --card-color-01: #382080;
  --card-color-02: #131F2B;
  --card-color-03: #69081A;
  --card-color-04: #147536;
}