.icon-block {
    display: flex;
    align-items: center;
    gap: toRem(16);

    flex-shrink: 0;

    &__item {
        background-color: #171717;
        padding: toRem(12);
        border-radius: 50%;
        font-size: toRem(18);
        cursor: pointer;

        transition: background-color 0.3s;
        @media(any-hover: hover){
          &:hover {
            background-color: var(--blue-color);
          }
        }
    }
    p {
        font-family: Poppins;
        font-size: toRem(14px);
        line-height: 1.71; /* 171.429% */
    }
}

.button-contacts {
    background: linear-gradient(to bottom, #ffffff, #e0e0e0);
    border: 4px solid #333;
    border-radius: 18px;
    padding: 19.09px 28px 17.91px 28px;

    color: var(--bg-color);
    font-family: Poppins;
    font-size: toRem(18);
    font-weight: 500;
    line-height: 1.33; /* 133.333% */

    display: inline-block;

    justify-self: end;

    flex-shrink: 0;
    align-self: flex-start;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    position: relative;

    transition: transform 0.2s ease;

    @media (max-width: 490px) {
      width: 100%;
      justify-self: start;
      text-align: center;
    }
}
.button-contacts:hover {
  background-color: #fff;
  color: var(--blue-color);
  box-shadow: 0 0 0 3px rgba(4, 4, 186, 0.8), 0 0 12px rgba(4, 4, 186, 0.6);
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.button-contacts:before,
.button-contacts:after {
  position: absolute;
  content: "";
  width: clamp(100%, 150%, 300px);
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.button-contacts.animate::before{
  top: -70%;
  background-image: radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--main-text-color) 20%, transparent 30%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--main-text-color) 15%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards;

  z-index: 10;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button-contacts.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--main-text-color) 15%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%),
    radial-gradient(circle, var(--main-text-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards;

  z-index: 10;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
// =======================================================================
.project {
    max-width: toRem(1170);
    margin: 0 auto;
}

#cards {
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight)); 
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    // margin-bottom: var(--cardMargin);
}

#card1 {
    --index: 1;
}
#card2 {
    --index: 2;
}
#card3 {
    --index: 3;
}
#card4 {
    --index: 4;
}
#card5 {
    --index: 5;
}

#card1 .cards__body {
    background-color: var(--card-color-01);
}
#card2 .cards__body {
    background-color: var(--card-color-02);
}
#card3 .cards__body {
    background-color: var(--card-color-03);
}
#card4 .cards__body {
    background-color: var(--card-color-04);
}
#card5 .cards__body {
    background-color: var(--card-color-05);
}

.cards {
    margin-inline: toRem(15);
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: toRem(12);
        border-bottom: toRem(1) solid #94949444;
        @include adaptiveValue("font-size", 14, 12);

        width: 100%;
    }
    &__item { 
        position: sticky;
        top: toRem(75); 
        padding-top: calc(var(--index) * var(--cardTopPadding)); 
        cursor: pointer;

        &:nth-child(3) .cards__img img {
          object-position: top;
        }
    }
    
    &__body { 
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      @include adaptiveValue("gap", 25, 15);
      @include adaptiveValue("padding-block", 32, 22);
      @include adaptiveValue("padding-inline", 16, 12);
      border-radius: toRem(16);
      height: var(--cardHeight);
    }
    
    &__img {
      width: 100%;
      height: 100%; 
      overflow: hidden;
      border-radius: toRem(16);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            
        }
    }
    &__title {
      width: 100%;
        color: #FFF;
        font-family: Poppins;
        @include adaptiveValue("font-size", 40, 20);
        line-height: 1.2; /* 120.755% */
        letter-spacing: toRem(1);

        display: flex;
        justify-content: space-between;
        gap: toRem(10);

        &::after {
          content: "";
          @include adaptiveValue("inline-size", 36, 24);
          @include adaptiveValue("block-size", 36, 24);
          flex-shrink: 0;
          background: url(../img/arrow.svg) 0 0 / 100% no-repeat;
        }
    }
    &__skills {
      @include adaptiveValue("font-size", 14, 10);
      line-height: 1.25; /* 125.49% */
      letter-spacing: toRem(1);
    }
}

.circle {
    position: absolute;
    width: 9.5rem;
    height: 9.5rem;
    background: rgba(255, 255, 255, 0.125); 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.05s linear;
    filter: blur(3.75rem); 
}