.icon-block {
    display: flex;
    align-items: center;
    gap: toRem(16);

    &__item {
        background-color: #171717;
        padding: toRem(12);
        border-radius: 50%;
        font-size: toRem(18);
    }
    p {
        font-family: Poppins;
        font-size: toRem(14px);
        line-height: 1.71; /* 171.429% */
    }
}

.button-contacts {
            background: linear-gradient(to bottom, #ffffff, #e0e0e0);
            border: 4px solid #333;
            border-radius: 18px;
            padding: 19.09px 28px 17.91px 28px;

            color: var(--bg-color);
            font-family: Poppins;
            font-size: toRem(18);
            font-weight: 500;
            line-height: 1.33; /* 133.333% */

            display: inline-block;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

:root {
    --cards:4;
    --cardHeight: 87vh;
    --cardTopPadding: 1.5em;/* величина, що зміню відступи між картками */
    --cardMargin: 4vw;
}

.project{
    width: 90%;
    margin: 0 auto;
}

#cards {
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}

#card1 {
    --index: 1;
}
#card2 {
    --index: 2;
}
#card3 {
    --index: 3;
}
#card4 {
    --index: 4;
}

.card {
    position: sticky;
    top: 80px;
    padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
    background-color: #382080;
}
#card2 .card-body {
    background-color: #131F2B;
}
#card3 .card-body {
    background-color:#69081A;
}
#card4 .card-body {
    background-color: #147536;
}

.card-body {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;
    height: var(--cardHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}