.footer {

		// .footer__container

		&__block {
         display: flex;
         flex-direction: column;
         padding-block: toRem(50);
         padding-inline: toRem(30);
         gap: toRem(30);
         max-width: toRem(812);
         margin: 0 auto;
         background: radial-gradient(100% 100% at 65.9% 103.4%, rgba(0, 0, 0, 0.53) 0%, #000 100%), url("../img/footer-bg.png") 0 0 /100% no-repeat ;
		}

		// .footer__header

		&__header {

         h2 {
            font-size: toRem(70);
            line-height: 1.37; /* 137.143% */
         }

         h2:first-of-type {
            display: inline-flex;
            align-items: center;
            gap: toRem(62);
         }
         h2:first-of-type::before {
            content: "";
            flex-shrink: 0;
            inline-size: toRem(64);
            block-size: toRem(64);
            background: url("../img/letter.svg") 0 0 /100% no-repeat;
         }
		}

      &__btn-block {
         display: flex;
         justify-content: space-between;
         gap: toRem(10);

         p {
            color: var(--gray-color-01);
            font-size: toRem(16);
            line-height: 1.96; /* 196.169% */
            max-width: toRem(360);
         }
      }

      &__img {
         transform: scaleX(-1);
      }

      &__icons {
         display: flex;
         gap: toRem(200);
      }
}