.footer {

		// .footer__container

		&__block {
         display: flex;
         flex-direction: column;
         padding-block: toRem(50);
         @include adaptiveValue("padding-inline", 30, 0);
         gap: toRem(30);
         max-width: toRem(812);
         margin: 0 auto;
         background: radial-gradient(100% 100% at 65.9% 103.4%, rgba(0, 0, 0, 0.53) 0%, #000 100%), url("../img/footer-bg.png") 0 0 /100% no-repeat ;
		}

		// .footer__header

		&__header {

         h2 {
            @include adaptiveValue("font-size", 70, 38);
            line-height: 1.37; /* 137.143% */
         }

         h2:first-of-type {
            display: inline-flex;
            align-items: center;
            @include adaptiveValue("gap", 62, 25);
         }
         h2:first-of-type::before {
            content: "";
            flex-shrink: 0;
            @include adaptiveValue("inline-size", 64, 38);
            @include adaptiveValue("block-size", 64, 38);
            background: url("../img/letter.svg") 0 0 /100% no-repeat;
         }
		}

      &__btn-block {
         display: flex;
         justify-content: space-between;
         gap: toRem(10);

         @media (max-width: 490px) {
            flex-direction: column;
            gap: toRem(25);
         }

         p {
            color: var(--gray-color-01);
            @include adaptiveValue("font-size", 16, 14);
            line-height: 1.96; /* 196.169% */
            max-width: toRem(360);

            @media (max-width: 621px) {
               max-width: 100%;
            }
         }
      }

      &__img {
         transform: scaleX(-1);
         @include adaptiveValue("inline-size", 116, 50);
         @include adaptiveValue("inline-size", 116, 50);

         @media (max-width: 490px) {
            display: none;
         }
      }

      &__icons {
         display: flex;
         gap: toRem(200);

         @media (max-width: 600px) {
            gap: toRem(150);
         }
         @media (max-width: 490px) {
            justify-content: center;
         }
      }
}