:root {
    --bg-color: #000;
    --main-text-color: #fff;
    --text-color: #7a7a7a;
    --second-text-color: #EBEBEB;

    --cards: 4;
    --cardHeight: 100vh;
    --cardTopPadding: 1.5em; 
    --cardMargin: 4vw;

    --card-color-01: #131F2B;
    --card-color-02: rgb(30, 50, 50);
    --card-color-03: rgb(60, 70, 90);
    --card-color-04: rgb(30, 30, 30);
}
